node_modules/**
!node_modules/
!node_modules/@zenithbuild/
!node_modules/@zenithbuild/compiler/
!node_modules/@zenithbuild/compiler/**
node_modules/@zenithbuild/compiler-*/**
.vscode/
.git/
*.log
*.ts
src/
scripts/
*.vsix
tsconfig.json
